<div class="container-fluid" style="margin-left: 2px;">
  <div>
    <nav class="navbar navbar-light header-page">
      <div class="container-fluid"><a class="navbar-brand" *ngIf="selectHeading === 'book'">{{heading}} </a>
      </div>
      <div class="container-fluid"><a class="navbar-brand" *ngIf="selectHeading === 'planBook'">{{headings}} </a>
      </div>
    </nav>
  </div>


  <div class="d-flex align-items-center p-2 my-2 text-white rounded shadow-sm bg-primary"
    style="background: linear-gradient(133.87deg,#dc3545 0%,#1d4fa2 50%,#c5198c 100%)">
    <div class="lh-1">
      <form novalidate="" class="col-12 col-lg-auto mb-1 mb-lg-0 me-lg-auto ng-untouched ng-pristine ng-valid"><input
          type="search" placeholder="Search..." aria-label="Search" class="form-control search-height" #filter
          (keyup)="getSearch(filter.value)"></form>
    </div>
    <div class="btn-group ml-auto" style="margin-left: 70%;">
      <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#exampleModal">Add
        New</button>
    </div>
  </div>


  <!-- ------------------------------------------------------------------------------------------------- -->

  <div>
    <table class=" table table-hover table-sortable " style="box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.21);">
      <thead>
        <tr>
          <th>#</th>
          <!-- <th>image</th> -->
          <th *ngFor="let head of headers">{{head.name}}</th>

          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Data;  let i=index">
          <td>{{((pageNumber-1)*10)+i+1}}</td>

          <!-- <td><img [src]="item.image" alt="" height="70px" width="80px"></td> -->

          <td *ngFor="let head of headers">
            <span *ngIf="head.key==='image'"><img src="{{item[head.key]}}" alt="wait" height="80px"
                width="100px"></span>
            <span *ngIf="head.key !=='image'">{{item[head.key]}}</span>

          </td>

          <td>
            <button class="btn btn-success" (click)="editBook(i)" data-bs-toggle="modal" data-bs-target="#exampleModals"
              style="border-radius: 50%;">
              <i class="fa-solid fa-pen"></i>
            </button> &nbsp;
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" *ngIf="selectedComponent === 'books'"
              (click)="selectedBookId=item._id" style="border-radius: 50%;">
              <i class="fa-regular fa-trash-can"></i>
            </button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModals" *ngIf="selectedComponent === 'planBook'"
              (click)="selectedBookId=item._id" style="border-radius: 50%;">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- ---------------------------pagination---------------------------- -->


    <nav aria-label="page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="getprevious()"
            [ngClass]="{ 'disabled': pageNumber === 1 }">Previous</a></li>
        <li (click)="getPaginate(page)" class="page-item" *ngFor="let page of noOfPage ">
          <a class="page-link">{{page}}</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="getnext()"
            [ngClass]="{ 'disabled': pageNumber === totalPages  }">Next</a></li>
      </ul>
    </nav>
    <p> In total there are 31 books. </p>


    <!-- -----------------------------------------add book-------------------------------------------------------------- -->



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Book Details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addNewBooks">
              <div class="form-group row">
                <label for="recipient-name" class="col-sm-2">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="recipient-name" placeholder="Book Name" appName
                    formControlName="bookName">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="message-text" class="col-sm-2">Price</label>
                <div class="col-sm-10">
                  <input class="form-control" id="message-text" appNumber formControlName="pricing">
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label for="message-text" class="col-sm-2">Category</label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="category">
                    <option value="" disabled selected>Choose</option>
                    <option value="पत्र पत्रिकाएं">पत्र पत्रिकाएं</option>
                    <option value="साहित्य">साहित्य</option>

                  </select>
                </div>

              </div><br>
              <div class="form-group row">
                <label for="message-text" class="col-sm-2">Image</label>
                <div class="col-sm-10">
                  <input class="form-control" type="file" formControlName="attachment"
                    (change)="onSelectedImage($event)">
                </div>

              </div>
              <br>
            </form>
            <div>

              <button type="button" (click)="postBookData" class="btn btn-primary" data-bs-dismiss="modal"
                aria-label="Close">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>





    <!-- ---------------------------delete pop-up---------------------------------- -->

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm</h5>
            <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> <span><i class="fa-solid fa-triangle-exclamation"></i></span>
              Are you sure you want to delete the selected book?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
              <i class="fa-solid fa-xmark"></i> No</button>
            <button (click)="deleteSelected()" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              <i class="fa-solid fa-check"></i> Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- ////////////////////////////////////////////////////// -->


  <div class="modal fade" id="deleteModals" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Ok</h5>
          <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> <span><i class="fa-solid fa-triangle-exclamation"></i></span>
            Are you sure you want to delete the selected book?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark"></i> No</button>
          <button (click)="deleteSelectedd()" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            <i class="fa-solid fa-check"></i> Yes(you should select this)</button>
        </div>
      </div>
    </div>
  </div>


  <!-- ---------------------------------------edit pop-up--------------------------------------------------- -->


  <div class="modal fade" id="exampleModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Book Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addNewBooks">
            <div class="form-group row">
              <label for="recipient-name" class="col-sm-2">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="recipient-name" placeholder="Book Name" appName
                  formControlName="bookName">
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="message-text" class="col-sm-2">Price</label>
              <div class="col-sm-10">
                <input class="form-control" id="message-text" appNumber formControlName="pricing">
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="message-text" class="col-sm-2">Category</label>
              <div class="col-sm-10">
                <select class="form-control" formControlName="category">
                  <option value="" disabled>Choose</option>
                  <option value="पत्र पत्रिकाएं">पत्र पत्रिकाएं</option>
                  <option value="साहित्य">साहित्य</option>

                </select>
              </div>

            </div><br>
            <div class="form-group row">
              <label for="message-text" class="col-sm-2">Image</label>
              <div class="col-sm-10">
                <input class="form-control" type="file" formControlName="attachment">
              </div>

            </div>
            <br>
          </form>
          <div>

            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
              (click)="updateBookData()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>