<!-- <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand p-3 text-white">श्री क्षत्रिय युवक संघ </a>
            <div class="collapse navbar-collapse ms-5 " >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
 
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link " routerLink="list" >Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link" routerLink="">Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link" routerLink="" >Subscribe</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link" routerLink="" >Dashbord</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link" routerLink="" >Subsribe/Renew</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link" routerLink="">Manage Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link" routerLink="" >Manage Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link" routerLink="" >Camp Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white pe-5 nav-link" routerLink="" >-</a>
                    </li>
 
                </ul>
 
            </div>
        </div>
    </nav>
</div> -->
















<nav class="navbar navbar-expand-lg " style="background: linear-gradient(133.87deg,#dc3545 ,#1d4fa2,#c5198c)">
    <div class="container-fluid"><a href="#" class="navbar-brand" style="color: white; padding-left: 20px; margin-top: 15px;">श्री
            क्षत्रिय युवक संघ </a><button type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler"><span
                class="navbar-toggler-icon"></span></button>
        <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto" style="padding-left: 350px"><a routerlinkactive="active"
                    class="nav-link top-menu" href="/qa/app/dashboard"><i aria-hidden="true"
                        class="fa fa-clock-o"></i> Dashboard </a><a routerlinkactive="active"
                    aria-current="page" class="nav-link top-menu" href="/qa/app/user">Subscribers</a><a
                    routerlinkactive="active" aria-current="page"
                    class="nav-link top-menu ng-star-inserted" href="/qa/app/admin">Manage Admin</a><!----><a
                    routerlinkactive="active" aria-current="page" class="nav-link top-menu"
                    href="/qa/app/subscription/user">Subscribe/Renew</a><a
                    routerlinkactive="active" aria-current="page" class="nav-link top-menu"
                    href="/qa/app/subscription/list">Manage Address</a>
                    <a routerlinkactive="active" aria-current="page" class="nav-link top-menu ng-star-inserted" [routerLink]="['/app/plans']"
                    >Plans</a>
                    <!---->
                    <a routerlinkactive="active"
                    class="nav-link top-menu ng-star-inserted active" href="/qa/app/books" [routerLink]="['/app/list']">Books</a><!----><a
                    id="dropdownMenuButton" routerlinkactive="active" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" class="drop nav-link top-menu dropdown-toggle"> Camp
                    Management </a>
                <div aria-labelledby="dropdownMenuButton" class="menu dropdown-menu"><a
                        routerlinkactive="active" aria-current="page"
                        class="item dropdown-item p-2 border" href="/qa/app/manage-camp/CampMaster">Camp
                        Master</a><a routerlinkactive="active" aria-current="page"
                        class="item dropdown-item p-2 border" href="/qa/app/manage-camp/batchMaster">Batch
                        Master</a><a routerlinkactive="active" aria-current="page"
                        class="item dropdown-item p-2 border" href="/qa/app/manage-camp/voluteer-master">Volunteers
                        Master</a><a routerlinkactive="active" aria-current="page"
                        class="item dropdown-item p-2 border" href="/qa/app/manage-camp/member-master">Member
                        Master</a><a routerlinkactive="active" aria-current="page"
                        class="item dropdown-item p-2 border" href="/qa/app/manage-camp/member-movement">Add Members
                        In Camp</a><a routerlinkactive="active" aria-current="page"
                        class="item dropdown-item p-2 border" href="/qa/app/manage-camp/campType">Camp Type</a><a
                        routerlinkactive="active" aria-current="page"
                        class="item dropdown-item p-2 border" href="/qa/app/manage-camp/pType">Participants Type</a>
                </div>
                <li class="nav-item dropdown has-arrow"><a href="#"
                        data-toggle="dropdown" class="dropdown-toggle nav-link"><span
                            class="user-img"><img width="31" alt="Tan Singh"
                                class="rounded-circle"
                                src="http://103.224.246.103:3004/uploads/61ddac3a0dd0d864990122f7/1688275719413Screenshot 2023-06-20 100242.png"></span></a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm"><img
                                    alt="User Image" class="avatar-img rounded-circle"
                                    src="http://103.224.246.103:3004/uploads/61ddac3a0dd0d864990122f7/1688275719413Screenshot 2023-06-20 100242.png">
                            </div>
                            <div class="user-text">
                                <h6>Rbanna2</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div><a routerlink="profile" class="dropdown-item"
                            href="/qa/app/profile">My Profile</a><a
                            class="dropdown-item">Logout</a>
                    </div>
                </li>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>